/* The following Styles for the overall website. */

body{
    background: black;
    color: white;
}

nav a:hover {
background-color: aquamarine;
}

input:focus{
    background-color: rgb(248, 240, 77);
}

.main{
    display: grid;
 
}

.center{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .mini_bio{
    color: white;
  }

  header nav a{
    color: green;
    font-size: 1.3em;
    margin: 1em;
  }

  /* The following are customization for the "About Me" Page. */

  .aboutme{
    color: green
  }

.aboutme_banner{
    width: 1000px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

 .b1{
    color: firebrick;
}

.b2{
    color: firebrick;
}

.b3{
    color: firebrick;
}

.b4{
    color:firebrick
}

/* The following are customization for the "Resume" Page. */
.resume{
    color: green
  }


  #resume_block{
    box-sizing: border-box;
    width: 900px;
    padding: 30px;
    border: 10px solid #eb7804;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/* The following are customization for the "Contact Me" Page. */

.contactme{
    color:green
}

.contact{
    border-radius: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



#contact_box{
    /* display: grid; */
    box-sizing: border-box;
    width: 900px;
    padding: 30px;
    border: 10px solid #b88307;
    margin: auto;
    box-shadow: 5px 10px #edb8b8;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:rgb(31, 32, 31);
    color: aquamarine;
}


/* The following are customization for the "Testimonials/Recommendation" Page. */

.reviews{
    color:green;
}

.review_box{
    display: grid;
    width: 80%;
    border: 1px solid white;
    margin: auto;
    grid-template-columns: 1fr;

}

div li{
    color:#b52b05;
    font-size: large;
    font-weight: bolder;
}

@media screen and (max-width: 500px) {
    .main{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100px 100px 100px;
        gap: 5px;
        width: 95%;
    }
}

@media screen and (max-width: 600px) {
    #contact_box{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100px 100px;
        gap: 5px;
        width: 9%;
    }
}

@media screen and (max-width: 600px) {
    #resume_block{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100px 100px;
        gap: 5px;
        width: 95%;
        text-wrap: wrap;
    }
}

@media screen and (max-width: 600px) {
    .review_box{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100px 100px;
        gap: 5px;
        width: 95%;
        text-wrap: wrap;
    }
}
